.CentralSection {
    max-width: 1011px;
    width: 100%;
    height: 1032px;
    background: #FFF;
    box-shadow: var(--central-box-shadow);
    margin: 0 auto;
}

.firstLine {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
}

.sort {
    cursor: pointer;
}