.close {
    cursor: pointer;
}

.closePart {
    max-width: 347px;
    max-height: 56px;
    width: 100%;
    border-radius: 10px;
    background: #FFE8E8;
    box-shadow: var(--pop-up-box-shadow);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.text1Part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #AE4545;
    font-weight: 600;
}