:root {
    --font-family-main: "Segoe UI";

    //--------BORDER-RADIUS--------
    --dropDown-border-radius: 10px;

    //---------BOX-SHADOW----------
    --dropDown-box-shadow: 0px 0px 10px 0px rgba(183, 183, 183, 0.25);
    --settings-box-shadow: 0px 0px 10px 0px rgba(197, 197, 197, 0.25);
    --pop-up-box-shadow: 0px 0px 20px 0px rgba(184, 184, 184, 0.25);
    --central-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);

    //-----------COLORS------------
    --black-color: #000;
    --light-black-color:#141414;
    --blue-color: #4698F0;
    --bg-blue-color: #E8F0FF;
    --line-color: #F1F1F1;
    --input-border-color: #DFDFDF;

    //---------PADDING---------
    --settings-padding: 2.5px 168px 2.5px 17px;
}