.PasswordsPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwordItem {
    max-width: 1000px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.passwordItem:hover {
    background-color: var(--bg-blue-color);
}

.emptyStar {
    width: 18px;
    height: 18px;
    fill: #FFF;
    stroke-width: 2px;
    stroke: #DAE4F8;
}

.imgIcon {
    width: 16px;
    height: 15px;
    padding-right: 10px;
}